.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 20px auto;
    flex: 1;
    width: 70%;

    input, select {
        border: none;
        border-radius: 5px;
        font-size: 20px;
        outline: #1A95F0;
        transition: .2s ease-in-out;
        padding: 20px 20px;
        &:focus {
            outline: 2px solid #1A95F0;
        }
    }
}